/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  font-weight: 300;
  line-height: 2;
  color: #1b1b1c; }
  body.no-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden; }

html,
body {
  min-height: 100%; }

::-moz-selection {
  background: rgba(27, 27, 28, 0.99);
  color: #fff; }

::selection {
  background: rgba(27, 27, 28, 0.99);
  color: #fff; }

h1 {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem; } }

h2 {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.25rem; } }

h3 {
  font-size: 1.25rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.75rem; } }

h1,
h2, h3 {
  line-height: 1.3; }

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

h1,
h2,
h3,
h4 {
  font-weight: 800; }

h1 {
  font-weight: 700; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase; }

h4,
h5,
h6 {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem; }

h1, h2, h3, h4 {
  margin-bottom: 2rem; }

a {
  color: #1b1b1c;
  text-decoration: underline;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s; }
  a:hover, a:active, a:focus {
    color: #1b1b1c;
    text-decoration: none; }

p {
  margin-bottom: 1.5em; }

figure {
  margin-bottom: 1.5em; }

blockquote {
  font-size: 1.25em;
  font-style: italic;
  font-weight: 600;
  border-left: 0.5em solid rgba(27, 27, 28, 0.2);
  margin: 2.25em 0;
  padding: .75em 0 .75em 1.25em; }
  blockquote > *:last-child {
    margin-bottom: 0; }

label {
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: inline; }

input[type=checkbox] {
  margin-bottom: 0;
  margin-right: 0.5rem; }

.browsehappy {
  background-color: #EC1C24; }

.noscript {
  background-color: #EC1C24; }

.browsehappy,
.noscript {
  color: #fff;
  padding: .5em 1em;
  text-align: center; }

.c-site-content {
  position: relative;
  z-index: 6;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1);
  box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1); }

.o-section {
  padding: 4rem 0; }
  .o-section[style*="background-color"], .o-section[style*="background-image"] {
    padding: 8rem 0; }

.o-section--grey {
  background-color: #f5f5f5; }

.o-section--shadow {
  -webkit-box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1);
  box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1); }

.c-background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.c-background-image--blazy {
  opacity: 0; }
  .c-background-image--blazy.is-loaded {
    opacity: 1; }

.todo {
  background: repeating-linear-gradient(45deg, #f47a7f, #f47a7f 10px, #f8a9ac 10px, #f8a9ac 20px); }

.c-job--internship {
  background-color: rgba(0, 241, 201, 0.2);
  padding: 3rem 0; }
  .c-job--internship p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; }

.video-container {
  position: relative;
  /* padding-bottom: 60%; */
  padding-bottom: 56.3%;
  height: 0;
  overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.video-container--small {
  padding-bottom: 46.3%; }

.c-logo {
  height: 15rem;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
  box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1); }
  .c-logo .c-background-image {
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: 50% 45%; }
  @media (min-width: 768px) {
    .c-logo {
      margin-bottom: 30px; } }

.c-branding .row {
  padding-bottom: 1rem; }
  @media (min-width: 768px) {
    .c-branding .row {
      padding-bottom: 5rem; } }

@media (max-width: 768px) {
  .button-container-mobile {
    text-align: center; } }

@media (max-width: 768px) {
  .contact-text {
    margin-top: 1.5rem; } }

.c-strategy__quote {
  font-size: 1.25rem;
  line-height: 1.4; }
  @media (min-width: 992px) {
    .c-strategy__quote {
      font-size: 1.75rem;
      line-height: 1.8; } }
  .c-strategy__quote p {
    padding: 2rem 1rem; }

.u-is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0; }

.u-inline-list {
  list-style: none;
  padding: 0; }
  .u-inline-list li {
    display: inline-block; }
    .u-inline-list li:not(:last-child) {
      margin-right: 1em; }

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.u-text--left {
  text-align: left; }

.u-text--right {
  text-align: right; }

.u-text--center {
  text-align: center; }

.flex,
.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.u-flex-column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.content-top,
.u-content--top {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start; }

.content-middle,
.u-content--middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.content-bottom,
.u-content--bottom {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end; }

.u-margin-top--xs {
  margin-top: 0.25rem !important; }

.u-margin-right--xs {
  margin-right: 0.25rem !important; }

.u-margin-bottom--xs {
  margin-bottom: 0.25rem !important; }

.u-margin-left--xs {
  margin-left: 0.25rem !important; }

.u-padding-top--xs {
  padding-top: 0.25rem !important; }

.u-padding-right--xs {
  padding-right: 0.25rem !important; }

.u-padding-bottom--xs {
  padding-bottom: 0.25rem !important; }

.u-padding-left--xs {
  padding-left: 0.25rem !important; }

.u-padding-x--xs {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important; }

.u-padding-y--xs {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

.u-margin-x--xs {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important; }

.u-margin-y--xs {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important; }

.u-margin-top--s {
  margin-top: 0.5rem !important; }

.u-margin-right--s {
  margin-right: 0.5rem !important; }

.u-margin-bottom--s {
  margin-bottom: 0.5rem !important; }

.u-margin-left--s {
  margin-left: 0.5rem !important; }

.u-padding-top--s {
  padding-top: 0.5rem !important; }

.u-padding-right--s {
  padding-right: 0.5rem !important; }

.u-padding-bottom--s {
  padding-bottom: 0.5rem !important; }

.u-padding-left--s {
  padding-left: 0.5rem !important; }

.u-padding-x--s {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important; }

.u-padding-y--s {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.u-margin-x--s {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important; }

.u-margin-y--s {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.u-margin-top--m {
  margin-top: 1rem !important; }

.u-margin-right--m {
  margin-right: 1rem !important; }

.u-margin-bottom--m {
  margin-bottom: 1rem !important; }

.u-margin-left--m {
  margin-left: 1rem !important; }

.u-padding-top--m {
  padding-top: 1rem !important; }

.u-padding-right--m {
  padding-right: 1rem !important; }

.u-padding-bottom--m {
  padding-bottom: 1rem !important; }

.u-padding-left--m {
  padding-left: 1rem !important; }

.u-padding-x--m {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.u-padding-y--m {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.u-margin-x--m {
  margin-left: 1rem !important;
  margin-right: 1rem !important; }

.u-margin-y--m {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.u-margin-top--l {
  margin-top: 1.5rem !important; }

.u-margin-right--l {
  margin-right: 1.5rem !important; }

.u-margin-bottom--l {
  margin-bottom: 1.5rem !important; }

.u-margin-left--l {
  margin-left: 1.5rem !important; }

.u-padding-top--l {
  padding-top: 1.5rem !important; }

.u-padding-right--l {
  padding-right: 1.5rem !important; }

.u-padding-bottom--l {
  padding-bottom: 1.5rem !important; }

.u-padding-left--l {
  padding-left: 1.5rem !important; }

.u-padding-x--l {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important; }

.u-padding-y--l {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.u-margin-x--l {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important; }

.u-margin-y--l {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.u-margin-top--xl {
  margin-top: 2.5rem !important; }

.u-margin-right--xl {
  margin-right: 2.5rem !important; }

.u-margin-bottom--xl {
  margin-bottom: 2.5rem !important; }

.u-margin-left--xl {
  margin-left: 2.5rem !important; }

.u-padding-top--xl {
  padding-top: 2.5rem !important; }

.u-padding-right--xl {
  padding-right: 2.5rem !important; }

.u-padding-bottom--xl {
  padding-bottom: 2.5rem !important; }

.u-padding-left--xl {
  padding-left: 2.5rem !important; }

.u-padding-x--xl {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important; }

.u-padding-y--xl {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important; }

.u-margin-x--xl {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important; }

.u-margin-y--xl {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important; }

.u-margin-top--xxl {
  margin-top: 5rem !important; }

.u-margin-right--xxl {
  margin-right: 5rem !important; }

.u-margin-bottom--xxl {
  margin-bottom: 5rem !important; }

.u-margin-left--xxl {
  margin-left: 5rem !important; }

.u-padding-top--xxl {
  padding-top: 5rem !important; }

.u-padding-right--xxl {
  padding-right: 5rem !important; }

.u-padding-bottom--xxl {
  padding-bottom: 5rem !important; }

.u-padding-left--xxl {
  padding-left: 5rem !important; }

.u-padding-x--xxl {
  padding-left: 5rem !important;
  padding-right: 5rem !important; }

.u-padding-y--xxl {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.u-margin-x--xxl {
  margin-left: 5rem !important;
  margin-right: 5rem !important; }

.u-margin-y--xxl {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important; }

.u-margin-top--flush {
  margin-top: 0 !important; }

.u-margin-right--flush {
  margin-right: 0 !important; }

.u-margin-bottom--flush {
  margin-bottom: 0 !important; }

.u-margin-left--flush {
  margin-left: 0 !important; }

.u-padding-top--flush {
  padding-top: 0 !important; }

.u-padding-right--flush {
  padding-right: 0 !important; }

.u-padding-bottom--flush {
  padding-bottom: 0 !important; }

.u-padding-left--flush {
  padding-left: 0 !important; }

.u-padding-x--flush {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.u-padding-y--flush {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.u-margin-x--flush {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.u-margin-y--flush {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.u-margin-top--auto {
  margin-top: auto !important; }

.u-margin-right--auto {
  margin-right: auto !important; }

.u-margin-bottom--auto {
  margin-bottom: auto !important; }

.u-margin-left--auto {
  margin-left: auto !important; }

.u-padding-top--auto {
  padding-top: auto !important; }

.u-padding-right--auto {
  padding-right: auto !important; }

.u-padding-bottom--auto {
  padding-bottom: auto !important; }

.u-padding-left--auto {
  padding-left: auto !important; }

.u-padding-x--auto {
  padding-left: auto !important;
  padding-right: auto !important; }

.u-padding-y--auto {
  padding-top: auto !important;
  padding-bottom: auto !important; }

.u-margin-x--auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.u-margin-y--auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.u-margin--flush {
  margin: 0 !important; }

.u-padding--flush {
  padding: 0 !important; }

.flex,
.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.content-middle,
.u-content-middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.u-text--blue {
  color: #00f1c9; }

.u-text--white {
  color: #fff; }

.u-background--white {
  background-color: #fff; }

.u-background--grey {
  background-color: #f5f5f5; }

.u-background--orange {
  background-color: #f2c998 !important; }

.u-background--blue {
  background-color: #c2f4eb !important; }

.u-background--pink {
  background-color: #f1c5b6 !important; }

.u-m-top--negative {
  margin-top: -106px;
  z-index: 8; }
  @media (min-width: 768px) {
    .u-m-top--negative {
      margin-top: -130px; } }

.u-padding--none {
  padding: 0 !important; }

.u-fullwidth--image {
  width: 100%; }
  .u-fullwidth--image img {
    width: 100%;
    height: auto; }

.u-txt-decoration--none {
  text-decoration: none; }

/* Icons */
@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

.c-icon {
  display: inline-block;
  width: .9em;
  height: .9em;
  vertical-align: middle;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

/* Animations */
@keyframes swoosh {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  50.01% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes swoosh {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  50.01% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes enterScreen {
  0% {
    -webkit-transform: translate(-10%, -70%) rotate(35deg);
    transform: translate(-10%, -70%) rotate(35deg); }
  25% {
    -webkit-transform: translate(-5%, -70%) rotate(40deg);
    transform: translate(-5%, -70%) rotate(40deg); }
  50% {
    -webkit-transform: translate(-5%, -65%) rotate(45deg);
    transform: translate(-5%, -65%) rotate(45deg); }
  75% {
    -webkit-transform: translate(-10%, -65%) rotate(40deg);
    transform: translate(-10%, -65%) rotate(40deg); }
  100% {
    -webkit-transform: translate(-10%, -70%) rotate(35deg);
    transform: translate(-10%, -70%) rotate(35deg); } }

@-webkit-keyframes enterScreen {
  0% {
    -webkit-transform: translate(-10%, -70%) rotate(35deg);
    transform: translate(-10%, -70%) rotate(35deg); }
  25% {
    -webkit-transform: translate(-5%, -70%) rotate(40deg);
    transform: translate(-5%, -70%) rotate(40deg); }
  50% {
    -webkit-transform: translate(-5%, -65%) rotate(45deg);
    transform: translate(-5%, -65%) rotate(45deg); }
  75% {
    -webkit-transform: translate(-10%, -65%) rotate(40deg);
    transform: translate(-10%, -65%) rotate(40deg); }
  100% {
    -webkit-transform: translate(-10%, -70%) rotate(35deg);
    transform: translate(-10%, -70%) rotate(35deg); } }

.c-site-title {
  height: 2.5rem;
  margin-right: auto;
  z-index: 20;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out; }
  .c-site-title img,
  .c-site-title svg {
    fill: #1b1b1c;
    height: 100%; }
  .c-site-title:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.c-slider {
  position: relative;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    .c-slider {
      margin-bottom: 5rem; } }

.c-slider__control {
  font-size: 1.8rem;
  color: #1b1b1c;
  line-height: 1;
  padding: 1rem;
  position: absolute;
  top: 50%;
  z-index: 2;
  opacity: .7;
  -webkit-transition: ease-in-out .125s;
  transition: ease-in-out .125s; }
  .c-slider__control:active, .c-slider__control:hover, .c-slider__control:focus {
    color: #1b1b1c;
    text-decoration: none;
    opacity: 1; }
  .c-slider__control.c-slider__control--left {
    left: 50px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (min-width: 992px) {
      .c-slider__control.c-slider__control--left {
        left: 100px; } }
  .c-slider__control.c-slider__control--right {
    right: 50px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (min-width: 992px) {
      .c-slider__control.c-slider__control--right {
        right: 100px; } }

.c-slider__indicators {
  margin-top: 1em; }
  .c-slider__indicators ul,
  .c-slider__indicators ol {
    list-style: none;
    margin: 0;
    padding: 0; }
    .c-slider__indicators ul li,
    .c-slider__indicators ol li {
      display: inline-block; }
      .c-slider__indicators ul li:not(:last-child),
      .c-slider__indicators ol li:not(:last-child) {
        margin-right: 5px; }

.c-slider__indicator {
  font-size: 2rem;
  color: #fff;
  line-height: 1;
  opacity: .25;
  -webkit-transition: ease-in-out .125s;
  transition: ease-in-out .125s; }
  .c-slider__indicator:hover, .c-slider__indicator:active, .c-slider__indicator:focus {
    color: #fff;
    text-decoration: none;
    opacity: 1; }
  .c-slider__indicator.active {
    opacity: 1; }

.slick-slide {
  height: 40vh;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
  box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
  margin: 0; }
  @media (min-width: 768px) {
    .slick-slide {
      height: 50vh;
      margin: 0 2rem;
      width: 90%; } }
  @media (min-width: 1200px) {
    .slick-slide {
      height: 80vh;
      width: 80%;
      margin: 0 4rem; } }

@media (min-width: 768px) {
  .c-slide--portfolio:before, .c-slide--portfolio:after {
    content: '';
    width: 25%;
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0; }
  .c-slide--portfolio:before {
    content: '';
    background-image: -webkit-linear-gradient(left, rgba(27, 27, 28, 0.2) 0, transparent 100%);
    background-image: -o-linear-gradient(left, rgba(27, 27, 28, 0.2) 0, transparent 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(27, 27, 28, 0.2)), to(transparent));
    background-image: linear-gradient(to right, rgba(27, 27, 28, 0.2) 0, transparent 100%);
    background-repeat: repeat-x;
    left: 0; }
  .c-slide--portfolio:after {
    content: '';
    background-image: -webkit-linear-gradient(right, rgba(27, 27, 28, 0.2) 0, transparent 100%);
    background-image: -o-linear-gradient(right, rgba(27, 27, 28, 0.2) 0, transparent 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(27, 27, 28, 0.2)));
    background-image: linear-gradient(to right, transparent 0, rgba(27, 27, 28, 0.2) 100%);
    background-repeat: repeat-x;
    right: 0; } }

.c-slide--portfolio figure {
  height: 0;
  margin-bottom: 0;
  padding-top: 62.5%;
  /* 8:5 Aspect Ratio */
  position: relative;
  overflow: hidden; }
  .c-slide--portfolio figure img {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.slick-dots {
  position: absolute;
  text-align: center;
  bottom: -51px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }
  .slick-dots li {
    display: inline-block; }
    .slick-dots li button {
      border: none;
      color: #8c8c8c;
      background-color: transparent;
      position: relative;
      padding: 2px 3px;
      padding-top: 0.8rem; }
      .slick-dots li button:hover, .slick-dots li button:active, .slick-dots li button:focus {
        outline: 0;
        box-shadow: none;
        border: none; }
      .slick-dots li button:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        height: 1px;
        width: 0;
        background-color: #1b1b1c;
        transition: all 0.4s; }
      @media (min-width: 768px) {
        .slick-dots li button {
          padding: 2px 0.4rem;
          padding-top: 0.8rem; }
          .slick-dots li button:hover {
            color: #1b1b1c; }
            .slick-dots li button:hover:after {
              width: 100%; } }
    .slick-dots li.slick-active button {
      color: #1b1b1c; }
      .slick-dots li.slick-active button:after {
        width: 100%;
        left: 0;
        right: auto;
        transition: width 0.4s; }
  @media (max-width: 768px) {
    .slick-dots {
      position: relative;
      bottom: 0; } }

.slick-disabled {
  opacity: 0;
  pointer-events: none; }

.c-site-header {
  background: #fff;
  height: 40vh;
  z-index: 5;
  position: relative;
  font-weight: 400;
  overflow: hidden; }
  .c-site-header:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(102, 102, 102, 0.1) 0%, rgba(102, 102, 102, 0) 10%);
    background: -webkit-linear-gradient(top, rgba(102, 102, 102, 0.1) 0%, rgba(102, 102, 102, 0) 10%);
    background: linear-gradient(to bottom, rgba(102, 102, 102, 0.1) 0%, rgba(102, 102, 102, 0) 10%); }
  @media (min-width: 1200px) {
    .c-site-header {
      height: 40vh; } }
  @media (max-width: 768px) {
    .c-site-header {
      height: 30vh; } }
  @media (max-width: 576px) {
    .c-site-header {
      height: 40vh;
      overflow: visible; }
      .c-site-header:after {
        content: none; } }

.no-scroll .c-site-header {
  z-index: 100; }

.c-site-header--home {
  height: auto; }
  .c-site-header--home .c-card--home {
    padding-bottom: 0; }
    @media (min-width: 768px) {
      .c-site-header--home .c-card--home {
        padding-bottom: 10rem; } }
  .c-site-header--home:after {
    content: "";
    display: block;
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    -webkit-transform: translate(-10%, -70%) rotate(35deg);
    transform: translate(-10%, -70%) rotate(35deg);
    -webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
    box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
    pointer-events: none; }
    @media (max-width: 576px) {
      .c-site-header--home:after {
        content: none; } }

/**
 * Navigation
 */
.c-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.c-nav--primary {
  color: #1b1b1c;
  padding-top: 4em;
  padding-bottom: 4rem; }
  .c-nav--primary li a {
    position: relative;
    text-decoration: none; }
    .c-nav--primary li a:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      bottom: 0;
      height: 1px;
      background-color: #1b1b1c;
      transition: width 0.18s cubic-bezier(0.45, 0.05, 0.55, 0.95); }
  .c-nav--primary li.current_page_item a:before, .c-nav--primary li:hover a:before {
    width: 100%; }
  .c-nav--primary li:hover .c-navigation__count {
    background-color: #e8e8e8;
    transition: background-color 0.4s; }
  @media (max-width: 768px) {
    .c-nav--primary {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

/**
 * Hamburger
 */
.c-navigation__toggle {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
  z-index: 100;
  overflow: visible; }
  .c-navigation__toggle i {
    display: block;
    background-color: #1b1b1c;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: .25rem;
    margin: auto;
    -webkit-transition: width 0.33s cubic-bezier(0.75, -0.25, 0, 1.35), transform 0.1s ease-in-out;
    transition: width 0.33s cubic-bezier(0.75, -0.25, 0, 1.35), transform 0.1s ease-in-out; }
    .c-navigation__toggle i:nth-of-type(1) {
      width: 60%;
      -webkit-transform: translateY(-0.5rem);
      transform: translateY(-0.5rem); }
    .c-navigation__toggle i:nth-of-type(3) {
      width: 80%;
      -webkit-transform: translateY(0.5rem);
      transform: translateY(0.5rem); }
  .c-navigation__toggle:hover i:nth-of-type(1), .c-navigation__toggle:hover i:nth-of-type(3) {
    width: 100%; }

.c-navigation__checkbox:checked ~ .c-navigation__toggle i:nth-child(1) {
  -webkit-transform: rotate(45deg) scaleX(0.75);
  transform: rotate(45deg) scaleX(0.75); }

.c-navigation__checkbox:checked ~ .c-navigation__toggle i:nth-child(2) {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0); }

.c-navigation__checkbox:checked ~ .c-navigation__toggle i:nth-child(3) {
  -webkit-transform: rotate(-45deg) scaleX(0.75);
  transform: rotate(-45deg) scaleX(0.75); }

.c-navigation__checkbox:checked ~ .c-navigation__toggle i:nth-of-type(1), .c-navigation__checkbox:checked ~ .c-navigation__toggle i:nth-of-type(3) {
  width: 100%; }

.c-navigation__checkbox:checked ~ .c-navigation--mobile {
  background-color: #fff;
  height: 100vh;
  padding-top: 6.5rem;
  transition: height 0.4s; }
  .c-navigation__checkbox:checked ~ .c-navigation--mobile li {
    text-transform: uppercase;
    padding: 0.5rem 15px; }
    .c-navigation__checkbox:checked ~ .c-navigation--mobile li a {
      color: #666;
      text-align: right;
      font-weight: 500;
      opacity: 1;
      transition: opacity 0.4s;
      transition-delay: 0.1s; }
    .c-navigation__checkbox:checked ~ .c-navigation--mobile li:nth-child(2) a {
      transition-delay: 0.2s; }
    .c-navigation__checkbox:checked ~ .c-navigation--mobile li:nth-child(3) a {
      transition-delay: 0.3s; }
    .c-navigation__checkbox:checked ~ .c-navigation--mobile li:nth-child(4) a {
      transition-delay: 0.4s; }
    .c-navigation__checkbox:checked ~ .c-navigation--mobile li:nth-child(5) a {
      transition-delay: 0.5s; }
    .c-navigation__checkbox:checked ~ .c-navigation--mobile li:nth-child(6) a {
      transition-delay: 0.6s; }
  .c-navigation__checkbox:checked ~ .c-navigation--mobile .current_page_item {
    background-color: #f5f5f5;
    transition: background-color 0.4s;
    transition-delay: 0.8s; }
    .c-navigation__checkbox:checked ~ .c-navigation--mobile .current_page_item a:before {
      content: none; }
  @media (min-width: 768px) {
    .c-navigation__checkbox:checked ~ .c-navigation--mobile {
      padding-top: 10rem; } }

/**
 * Main menu
 */
.c-navigation {
  list-style: none;
  margin: 0;
  padding: 0; }
  .c-navigation > li {
    display: inline-block;
    position: relative;
    line-height: 1; }
    .c-navigation > li:not(:last-child) {
      margin-right: 2.5em; }
    .c-navigation > li a {
      display: block;
      color: inherit;
      padding: 1rem 0; }
      .c-navigation > li a:hover, .c-navigation > li a:active, .c-navigation > li a:focus {
        color: #1b1b1c;
        text-decoration: none; }

.c-navigation--legal > li a {
  color: #fff;
  padding: 0; }
  .c-navigation--legal > li a:hover, .c-navigation--legal > li a:active, .c-navigation--legal > li a:focus {
    color: #fff;
    text-decoration: underline; }

@media (max-width: 768px) {
  .c-navigation--legal > li {
    display: block;
    line-height: 1.4; } }

/**
 * Mobile menu
 */
.c-navigation--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  transition: height 0.4s; }
  .c-navigation--mobile > li {
    display: block;
    font-size: 1.5em; }
    .c-navigation--mobile > li:first-child {
      margin-top: 6.5rem; }
    .c-navigation--mobile > li a {
      padding: 1.5rem 15px; }
  .c-navigation--mobile a {
    opacity: 0; }
  .c-navigation--mobile li:hover a:before {
    width: 0; }
  .c-navigation--mobile li:hover.current_page_item {
    background-color: #fff;
    transition: background-color; }

.menu-item-has-children > a:after {
  font-family: 'Icons';
  font-style: normal;
  line-height: 1;
  content: '\e101';
  font-size: .625em;
  margin-left: .625em; }

.menu-item-has-children:hover .sub-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1; }

/**
 * Submenu
 */
.sub-menu {
  display: block;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 10px 0;
  z-index: 1000;
  opacity: 0;
  -webkit-box-shadow: 0 5px 10px 0 rgba(27, 27, 28, 0.1);
  box-shadow: 0 5px 10px 0 rgba(27, 27, 28, 0.1);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: opacity 0.1s, -webkit-transform 180ms cubic-bezier(0.3, 0, 0, 1.3);
  transition: opacity 0.1s, -webkit-transform 180ms cubic-bezier(0.3, 0, 0, 1.3);
  transition: opacity 0.1s, transform 180ms cubic-bezier(0.3, 0, 0, 1.3);
  transition: opacity 0.1s, transform 180ms cubic-bezier(0.3, 0, 0, 1.3), -webkit-transform 180ms cubic-bezier(0.3, 0, 0, 1.3); }
  .sub-menu > li a {
    display: block;
    color: #1b1b1c;
    padding: 10px 15px;
    line-height: 1.5;
    white-space: nowrap;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .sub-menu > li a:hover, .sub-menu > li a:active, .sub-menu > li a:focus {
      background-color: rgba(27, 27, 28, 0.03);
      color: #00f1c9;
      text-decoration: none; }
    .sub-menu > li a:before {
      content: none; }

.c-navigation__count {
  position: absolute;
  top: 0;
  right: -20px;
  background-color: #f5f5f5;
  color: #1b1b1c;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 20px;
  transition: background-color 0.4s; }

.c-site-footer {
  position: relative;
  height: auto;
  background: #1b1b1c;
  transition: border .3s ease,padding .3s ease; }
  .c-site-footer ul,
  .c-site-footer ol {
    list-style: none;
    padding: 0; }
  .c-site-footer h4 {
    font-weight: 600;
    font-size: 1.125em; }
  .c-site-footer a {
    color: #fff; }
  @media (min-width: 768px) {
    .c-site-footer {
      position: fixed;
      z-index: 1;
      height: 22em;
      left: 0;
      bottom: 0;
      right: 0; } }

@media (min-width: 768px) {
  .c-footer__content {
    position: relative;
    z-index: 1;
    height: 22em;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #1b1b1c;
    padding-top: 0;
    margin: 0; } }

.footer__spacer {
  position: relative;
  z-index: -1;
  height: 22em;
  pointer-events: none;
  display: none; }
  @media (min-width: 768px) {
    .footer__spacer {
      display: block; } }

.c-site-footer--primary {
  line-height: 1.6;
  color: #fff;
  padding-top: 5rem; }
  .c-site-footer--primary p {
    margin-bottom: 0rem;
    font-size: 18px; }
  .c-site-footer--primary a {
    text-decoration: none;
    font-size: 18px; }
    .c-site-footer--primary a:hover {
      text-decoration: underline; }
  .c-site-footer--primary .textwidget:first-child {
    padding-bottom: 2rem; }
    @media (min-width: 768px) {
      .c-site-footer--primary .textwidget:first-child {
        padding-bottom: 0; } }

.c-site-footer--secondary {
  padding: 2rem 0 2rem 0;
  background-color: #161617; }
  .c-site-footer--secondary a {
    text-decoration: none; }
    .c-site-footer--secondary a:hover {
      text-decoration: underline; }
  @media (min-width: 768px) {
    .c-site-footer--secondary {
      padding: 5rem 0 2rem 0;
      background-color: #1b1b1c; } }

.btn,
.c-btn {
  display: inline-block;
  margin-bottom: 1em;
  padding: 1.5rem 3rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s; }
  .btn:hover, .btn:active, .btn:focus,
  .c-btn:hover,
  .c-btn:active,
  .c-btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  .btn + .btn,
  .btn + .c-btn,
  .c-btn + .btn,
  .c-btn + .c-btn {
    margin-left: 1em; }

.btn,
.c-btn {
  background-size: 100% 200%;
  background-position: center top;
  -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out; }
  .btn:hover, .btn:focus, .btn:active,
  .c-btn:hover,
  .c-btn:focus,
  .c-btn:active {
    background-position: center bottom; }
  .btn.btn--black, .btn.c-btn--black,
  .c-btn.btn--black,
  .c-btn.c-btn--black {
    background-color: #1b1b1c;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #0a0a0b), color-stop(50%, #1b1b1c));
    background-image: linear-gradient(to top, #0a0a0b 50%, #1b1b1c 50%);
    color: #fff; }
    .btn.btn--black:hover, .btn.btn--black:focus, .btn.btn--black:active, .btn.c-btn--black:hover, .btn.c-btn--black:focus, .btn.c-btn--black:active,
    .c-btn.btn--black:hover,
    .c-btn.btn--black:focus,
    .c-btn.btn--black:active,
    .c-btn.c-btn--black:hover,
    .c-btn.c-btn--black:focus,
    .c-btn.c-btn--black:active {
      color: #fff; }
  .btn.btn--blue, .btn.c-btn--blue,
  .c-btn.btn--blue,
  .c-btn.c-btn--blue {
    background-color: #00f1c9;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #00cfad), color-stop(50%, #00f1c9));
    background-image: linear-gradient(to top, #00cfad 50%, #00f1c9 50%);
    color: #fff; }
    .btn.btn--blue:hover, .btn.btn--blue:focus, .btn.btn--blue:active, .btn.c-btn--blue:hover, .btn.c-btn--blue:focus, .btn.c-btn--blue:active,
    .c-btn.btn--blue:hover,
    .c-btn.btn--blue:focus,
    .c-btn.btn--blue:active,
    .c-btn.c-btn--blue:hover,
    .c-btn.c-btn--blue:focus,
    .c-btn.c-btn--blue:active {
      color: #fff; }

.btn--secondary,
.c-btn--secondary {
  background: transparent !important;
  background-image: none !important;
  border-radius: 0;
  padding: .5em !important;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn--secondary:after,
  .c-btn--secondary:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: .1rem solid; }
  .btn--secondary:hover:after, .btn--secondary:active:after, .btn--secondary:focus:after,
  .c-btn--secondary:hover:after,
  .c-btn--secondary:active:after,
  .c-btn--secondary:focus:after {
    -webkit-animation: swoosh 0.8s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1;
    animation: swoosh 0.8s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1; }
  .btn--secondary.btn--black, .btn--secondary.c-btn--black,
  .c-btn--secondary.btn--black,
  .c-btn--secondary.c-btn--black {
    color: #1b1b1c; }
    .btn--secondary.btn--black:after, .btn--secondary.c-btn--black:after,
    .c-btn--secondary.btn--black:after,
    .c-btn--secondary.c-btn--black:after {
      border-color: #1b1b1c; }
    .btn--secondary.btn--black:hover, .btn--secondary.btn--black:focus, .btn--secondary.btn--black:active, .btn--secondary.c-btn--black:hover, .btn--secondary.c-btn--black:focus, .btn--secondary.c-btn--black:active,
    .c-btn--secondary.btn--black:hover,
    .c-btn--secondary.btn--black:focus,
    .c-btn--secondary.btn--black:active,
    .c-btn--secondary.c-btn--black:hover,
    .c-btn--secondary.c-btn--black:focus,
    .c-btn--secondary.c-btn--black:active {
      color: #1b1b1c; }
  .btn--secondary.btn--blue, .btn--secondary.c-btn--blue,
  .c-btn--secondary.btn--blue,
  .c-btn--secondary.c-btn--blue {
    color: #00f1c9; }
    .btn--secondary.btn--blue:after, .btn--secondary.c-btn--blue:after,
    .c-btn--secondary.btn--blue:after,
    .c-btn--secondary.c-btn--blue:after {
      border-color: #00f1c9; }
    .btn--secondary.btn--blue:hover, .btn--secondary.btn--blue:focus, .btn--secondary.btn--blue:active, .btn--secondary.c-btn--blue:hover, .btn--secondary.c-btn--blue:focus, .btn--secondary.c-btn--blue:active,
    .c-btn--secondary.btn--blue:hover,
    .c-btn--secondary.btn--blue:focus,
    .c-btn--secondary.btn--blue:active,
    .c-btn--secondary.c-btn--blue:hover,
    .c-btn--secondary.c-btn--blue:focus,
    .c-btn--secondary.c-btn--blue:active {
      color: #00f1c9; }

.c-btn--gradient, .btn--gradient {
  display: inline-block;
  background-color: #00f1c9;
  background-image: linear-gradient(120deg, #00f1c9, #00f07c);
  background-repeat: no-repeat;
  border-radius: 0;
  color: #1b1b1c;
  border: none;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .c-btn--gradient:hover, .btn--gradient:hover {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #1b1b1c; }
    .c-btn--gradient:hover:before, .btn--gradient:hover:before {
      opacity: 1; }
  .c-btn--gradient:before, .btn--gradient:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #00f07c, #00f1c9);
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: inherit; }

input,
select,
textarea {
  outline: 0;
  border: 0;
  margin: 0;
  margin-bottom: 2rem; }

textarea {
  min-height: 10rem; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  padding: 10px 25px;
  -webkit-appearance: none;
  -moz-appearance: none; }
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  textarea::placeholder {
    color: #666; }

label:hover, label:active, label:focus {
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #1b1b1c; }

::-moz-placeholder {
  color: #1b1b1c; }

:-ms-input-placeholder {
  color: #1b1b1c; }

:-moz-placeholder {
  color: #1b1b1c; }

/**
 * Gravity forms
 */
.hidden_label .gfield_label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0; }

.validation_error {
  display: none !important; }

.gform_validation_error .validation_message {
  color: #EC1C24; }
  .gform_validation_error .validation_message:before {
    font-family: 'Icons';
    font-style: normal;
    line-height: 1;
    content: '\e200';
    margin-right: .5em; }

.gform_description {
  display: block;
  margin-bottom: 1em; }

.gform_fields {
  list-style: none;
  margin: 0;
  padding: 0; }

.gfield {
  margin-bottom: 1rem; }
  .gfield .gfield_label {
    display: block; }
  .gfield .gfield_description {
    margin: 10px 0; }
  .gfield .gfield_required {
    color: #EC1C24;
    margin-left: .25em; }

.gfield_error [aria-invalid="true"] {
  background-color: rgba(236, 28, 36, 0.1); }

.gfield_radio,
.gfield_checkbox {
  list-style: none;
  padding: 0; }
  .gfield_radio input[type="radio"],
  .gfield_radio input[type="checkbox"],
  .gfield_checkbox input[type="radio"],
  .gfield_checkbox input[type="checkbox"] {
    margin-right: 10px; }

.gform_ajax_spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 1rem; }

.c-newsletter input[type="text"],
.c-newsletter input[type="email"],
.c-newsletter textarea {
  background-color: #fff; }

.c-cta {
  padding: 5rem 0;
  background-color: #fff;
  position: relative;
  overflow: hidden; }
  .c-cta h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin-left: -2rem; }
  .c-cta:before {
    content: "";
    display: block;
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transform: translate(0, 80%) rotate(35deg);
    transform: translate(0, 80%) rotate(35deg);
    -webkit-box-shadow: inset 0 1px 50px 0 rgba(27, 27, 28, 0.08);
    box-shadow: inset 0 1px 50px 0 rgba(27, 27, 28, 0.08);
    pointer-events: none; }

.c-cta__text {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500; }
  @media (max-width: 992px) {
    .c-cta__text {
      display: none; } }

.c-cta--case {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
  box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
  margin-bottom: 4rem;
  margin-top: 2rem;
  position: relative; }
  .c-cta--case .c-cta__body {
    text-align: center;
    margin: 0 auto;
    padding: 5rem; }
    .c-cta--case .c-cta__body h2 {
      font-weight: 800;
      margin-left: -2rem;
      line-height: 1; }
  @media (max-width: 992px) {
    .c-cta--case {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .c-cta--case .c-cta__body {
        padding: 1rem; } }
  @media (max-width: 992px) {
    .c-cta--case .c-cta__image {
      height: 300px; } }

.c-social {
  text-align: left;
  margin-top: 1rem; }
  .c-social li {
    display: inline-block; }
    .c-social li:not(:last-child) {
      margin-right: 1em; }
  .c-social a {
    color: inherit;
    text-decoration: none; }
    .c-social a:hover, .c-social a:active, .c-social a:focus, .c-social a:visited {
      color: inherit;
      text-decoration: none;
      opacity: .75; }
  .c-social svg {
    fill: #fff; }
    .c-social svg:hover {
      fill: #00f1c9; }
  @media (min-width: 768px) {
    .c-social {
      text-align: right;
      margin-top: 0; } }

.c-card--teaser {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden; }
  .c-card--teaser:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(27, 27, 28, 0.2); }
  .c-card--teaser .c-card__body {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 20rem 0; }
    .c-card--teaser .c-card__body a {
      opacity: 0;
      transition: all 0.4s;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;
      color: #fff; }
      .c-card--teaser .c-card__body a:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
    .c-card--teaser .c-card__body h3 {
      transform: translateY(30px);
      transition: all 0.4s;
      font-size: 60px;
      line-height: 1;
      margin-left: -2rem; }
    @media (max-width: 992px) {
      .c-card--teaser .c-card__body h3 {
        font-size: 40px; } }
    @media (max-width: 768px) {
      .c-card--teaser .c-card__body h3 {
        font-size: 30px; } }
  .c-card--teaser:hover a {
    opacity: 1;
    transition: all 0.4s;
    text-decoration: none; }
  .c-card--teaser:hover h3 {
    transform: translateY(0);
    transition: all 0.4s; }
  .c-card--teaser:hover .c-background-image {
    transform: scale(1.05); }

.c-card--big {
  padding-bottom: 100%; }
  @media (min-width: 768px) {
    .c-card--big {
      padding-bottom: 50%; } }

.c-card--home {
  padding-bottom: 2rem; }
  .c-card--home .c-card__body {
    z-index: 3;
    text-align: left;
    margin-top: 1rem; }
    .c-card--home .c-card__body h1 {
      font-size: 3.5rem;
      line-height: 1.1;
      font-weight: 800; }
      @media (max-width: 1200px) {
        .c-card--home .c-card__body h1 {
          font-size: 2rem; } }
    .c-card--home .c-card__body h3 {
      font-weight: 500; }
  .c-card--home .c-card__image {
    height: 450px; }
  @media (min-width: 768px) {
    .c-card--home {
      padding-bottom: 8rem; } }

.c-card__image {
  height: 300px; }

.c-card--services {
  padding: 3rem 0;
  position: relative; }
  .c-card--services h2 {
    font-size: 2rem; }
    @media (min-width: 768px) {
      .c-card--services h2 {
        font-size: 3rem; } }
  .c-card--services .c-card__image {
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
    box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1); }
  .c-card--services a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .c-card--services:hover a {
    padding-left: 1rem; }
  @media (max-width: 992px) {
    .c-card--services {
      padding: 0; } }

.c-image--large {
  height: 500px; }

.c-post--portfolio .c-post__header {
  position: absolute;
  bottom: -10vh;
  background-color: rgba(236, 28, 36, 0.8);
  color: #fff;
  padding: 3rem 3rem 0.5rem;
  z-index: 3;
  text-align: center;
  margin-left: 10vw;
  width: 45vw; }
  .c-post--portfolio .c-post__header h1 {
    font-weight: 600;
    font-size: 2rem; }
  .c-post--portfolio .c-post__header p {
    margin-top: 4rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center; }
  @media (max-width: 768px) {
    .c-post--portfolio .c-post__header {
      padding: 1rem;
      width: calc(100% - 2rem);
      margin: 0 1rem; }
      .c-post--portfolio .c-post__header p {
        margin-top: 0;
        margin-bottom: 0; } }
  @media (min-width: 992px) {
    .c-post--portfolio .c-post__header {
      padding: 3rem 8rem 0.5rem; }
      .c-post--portfolio .c-post__header h1 {
        margin-left: -4rem;
        font-size: 3rem; } }
  @media (min-width: 1200px) {
    .c-post--portfolio .c-post__header h1 {
      font-size: 3rem;
      margin-left: -3rem; } }
  @media (min-width: 1660px) {
    .c-post--portfolio .c-post__header {
      padding: 3rem 10rem 0.5rem; }
      .c-post--portfolio .c-post__header h1 {
        font-size: 3.5rem; } }

.c-post--portfolio .c-post__body {
  padding: 1rem 0; }

.c-post--portfolio .u-fullwidth--image {
  position: relative;
  overflow: hidden;
  height: 800px; }
  @media (max-width: 1200px) {
    .c-post--portfolio .u-fullwidth--image {
      height: 400px; } }
  @media (min-width: 1200px) {
    .c-post--portfolio .u-fullwidth--image {
      height: 500px; } }
  @media (min-width: 1660px) {
    .c-post--portfolio .u-fullwidth--image {
      height: 800px; } }

.c-post--portfolio .row {
  margin-bottom: 8rem; }
  @media (max-width: 992px) {
    .c-post--portfolio .row {
      margin-bottom: 1rem; } }

.c-post--portfolio .c-post__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 100%; }
  @media (min-width: 768px) {
    .c-post--portfolio .c-post__image {
      padding-bottom: 50%; }
      .c-post--portfolio .c-post__image.c-image--small {
        padding-bottom: 100%; } }

.c-post--portfolio .c-post__testimonial {
  padding-bottom: 0; }

.c-post__testimonial {
  font-size: 22px;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5; }
  .c-post__testimonial p {
    margin-bottom: 1rem; }
  .c-post__testimonial .author {
    font-size: 20px;
    color: #666; }
  @media (min-width: 992px) {
    .c-post__testimonial {
      padding-top: 4rem;
      padding-bottom: 4rem;
      font-size: 28px; } }

.c-post__tagline {
  text-align: center; }
  .c-post__tagline h2 {
    font-size: 2rem;
    line-height: 1;
    margin-left: -2rem; }
    @media (min-width: 1200px) {
      .c-post__tagline h2 {
        font-size: 3.5rem;
        float: right;
        margin-left: 0; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.c-list {
  line-height: 1.4; }
  .c-list li {
    padding-bottom: 1rem; }

.c-list--asterisk li {
  padding-right: 5px; }
  .c-list--asterisk li:before {
    position: absolute;
    left: 0;
    content: '*'; }

.c-list--contact li {
  line-height: 1.6;
  padding-bottom: 0; }
  .c-list--contact li a {
    text-decoration: none; }

.c-list--footer li {
  line-height: 1.4;
  padding-bottom: 0; }
  .c-list--footer li a {
    text-decoration: none; }
