$c-black: #1b1b1c;
$c-white: #fff;
$c-grey: #f5f5f5;
$c-grey--dark: #222;
$c-grey--light: #666;

$c-green: #1ed760;
$c-red: #EC1C24;

$c-blue: #00f1c9;
$c-green--light:  #00f07c;


$c-orange: rgba(242,201,152,1);
$c-pink: rgba(241,197,182,1);
$c-blue--light: rgba(194,244,235,1);