/* Animations */

@keyframes swoosh {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	50% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	50.01% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes swoosh {
	0% {
		-webkit-transform: translateX(0);
		transform:translateX(0);
	}

	50% {
		-webkit-transform: translateX(100%);
		transform:translateX(100%);
	}

	50.01% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	to{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}


@keyframes enterScreen {
	0% {
		-webkit-transform: translate(-10%, -70%) rotate(35deg);
		transform: translate(-10%, -70%) rotate(35deg);
	}
	25% {
		-webkit-transform: translate(-5%, -70%) rotate(40deg);
		transform: translate(-5%, -70%) rotate(40deg);
	}
	50% {
		-webkit-transform: translate(-5%, -65%) rotate(45deg);
		transform: translate(-5%, -65%) rotate(45deg);
	}
	75% {
		-webkit-transform: translate(-10%, -65%) rotate(40deg);
		transform: translate(-10%, -65%) rotate(40deg);
	}
	100% {
		-webkit-transform: translate(-10%, -70%) rotate(35deg);
		transform: translate(-10%, -70%) rotate(35deg);
	}
}
@-webkit-keyframes enterScreen {
	0% {
		-webkit-transform: translate(-10%, -70%) rotate(35deg);
		transform: translate(-10%, -70%) rotate(35deg);
	}
	25% {
		-webkit-transform: translate(-5%, -70%) rotate(40deg);
		transform: translate(-5%, -70%) rotate(40deg);
	}
	50% {
		-webkit-transform: translate(-5%, -65%) rotate(45deg);
		transform: translate(-5%, -65%) rotate(45deg);
	}
	75% {
		-webkit-transform: translate(-10%, -65%) rotate(40deg);
		transform: translate(-10%, -65%) rotate(40deg);
	}
	100% {
		-webkit-transform: translate(-10%, -70%) rotate(35deg);
		transform: translate(-10%, -70%) rotate(35deg);
	}
}