html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.125rem;
	font-weight: normal;
	font-weight: 300;
	line-height: 2;
	color: $c-black;

	&.no-scroll {
		margin: 0;
		height: 100%;
		overflow: hidden;
	}

}

html,
body {
	min-height: 100%;
}

::-moz-selection {
	background: rgba($c-black, .99);
	color: #fff;
}

::selection {
	background: rgba($c-black, .99);
	color: #fff;
}

h1 {
	font-size: 1.5rem;

	@media (min-width: $sm) {
		font-size: 2.25rem;
	}
}

h2 {
	font-size: 1.5rem;

	@media (min-width: $sm) {
		font-size: 2.25rem;
	}
}

h3 {
	font-size: 1.25rem;

	@media (min-width: $sm) {
		font-size: 1.75rem;
	}
}

h1,
h2,h3 {
	line-height: 1.3;
}


h4 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4 {
	font-weight: 800;
}
h1 {
	font-weight: 700;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
	font-weight: 800;
	text-transform: uppercase;
}

h4,
h5,
h6 {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
}

h1,h2,h3,h4 {
	margin-bottom: 2rem;
}



a {
	color: $c-black;
	text-decoration: underline;
	-webkit-transition: ease-in-out .1s;
	transition: ease-in-out .1s;

	&:hover,
	&:active,
	&:focus {
		color: $c-black;
		text-decoration: none;
	}
}

p {
	margin-bottom: 1.5em;
}

figure {
	margin-bottom: 1.5em;
}

blockquote {
	font-size: 1.25em;
	font-style: italic;
	font-weight: 600;
	border-left: .5em solid rgba($c-black, .2);
	margin: 2.25em 0;
	padding: .75em 0 .75em 1.25em;

	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

label {
	line-height: 1;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: inline;
}

input[type=checkbox]{
	margin-bottom: 0;
	margin-right: 0.5rem;
}

.browsehappy {
	background-color: $c-red;
}

.noscript {
	background-color: $c-red;
}

.browsehappy,
.noscript {
	color: $c-white;
	padding: .5em 1em;
	text-align: center;
}

.c-site-content {
	//overflow-x: hidden; // Fallback for broken css :3
	position: relative;
	z-index: 6;
	background-color: $c-grey;
	-webkit-box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1);
	box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1);


}

.o-section {
	padding: 4rem 0;;

	&[style*="background-color"],
	&[style*="background-image"] {
		padding: 8rem 0;
	}

}
.o-section--grey {
	background-color: $c-grey;
}

.o-section--shadow {
  -webkit-box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1);
  box-shadow: inset 0 1px 50px 0 rgba(20, 20, 20, 0.1);
}


.c-background-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.c-background-image--blazy {
	opacity: 0;

	&.is-loaded {
		opacity: 1;
	}
}

.todo {
	background: repeating-linear-gradient(45deg, lighten($c-red, 20%), lighten($c-red, 20%) 10px, lighten($c-red, 30%) 10px, lighten($c-red, 30%) 20px );
}

// .c-backdrop {
// 	margin: 0 40px 80px;
//
// 	-webkit-box-shadow: 40px 80px 0px 0px $c-black;
// 	-moz-box-shadow: 40px 80px 0px 0px $c-black;
// 	box-shadow: 40px 80px 0px 0px $c-black;
//
// 	&.c-backdrop--red {
// 		-webkit-box-shadow: 40px 80px 0px 0px $c-red;
// 		-moz-box-shadow: 40px 80px 0px 0px $c-red;
// 		box-shadow: 40px 80px 0px 0px $c-red;
// 	}
// }


.c-job--internship {
	background-color: rgba($c-blue,0.2);
	padding: 3rem 0;
	p {
		margin: 0;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.5;
	}
}


.video-container {
	position: relative;
	/* padding-bottom: 60%; */
	padding-bottom: 56.3%;
	height: 0;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.video-container--small {
	padding-bottom: 46.3%;
}


.c-logo {
	height: 15rem;
	margin-bottom: 15px;

	-webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
	box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);

	.c-background-image {
		background-size: 130px;

		background-repeat: no-repeat;
		background-position: 50% 45%;
	}

	@media (min-width: $sm) {
		margin-bottom: 30px;
	}
}

.c-branding {
	.row {
		padding-bottom: 1rem;

		@media (min-width: $sm) {
			padding-bottom: 5rem;
		}
	}
}

@media (max-width: $sm) {
	.button-container-mobile{
	text-align: center;
	}
}

@media (max-width: $sm) {
	.contact-text{
		margin-top: 1.5rem;
	}
}


.c-strategy__quote {
	font-size: 1.25rem;
	line-height: 1.4;

	@media (min-width: $md) {
		font-size: 1.75rem;
		line-height: 1.8;
	}

	p {
		padding: 2rem 1rem;
	}

}