/* Icons */

@font-face {
	font-family: 'Icons';
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg') format('svg');
	font-weight: 400;
	font-style: normal
}