.o-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	@media (min-width: 576px) {
		width: 540px;
		max-width: 100%;
	}

	@media (min-width: 768px) {
		width: 720px;
		max-width: 100%;
	}

	@media (min-width: 992px) {
		width: 960px;
		max-width: 100%;
	}

	@media (min-width: 1200px) {
		width: 1140px;
		max-width: 100%;
	}
}

.o-container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

$columns: 12;

.o-row {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	grid-template-columns: repeat($columns, 1fr);
	grid-gap: 20px;
}

.o-col {
	background: red;
}

@for $i from 1 through $columns {
	.o-col-xs-#{$i} {
		grid-column: span $i;
	}

	.o-pull-xs-#{$i} {

	}

	.o-push-xs-#{$i} {

	}

	.o-offset-xs-#{$i} {

	}
}

@media (min-width: 576px) {
	@for $i from 1 through $columns {
		.o-col-sm-#{$i} {
			grid-column: span $i;
		}

		.o-pull-sm-#{$i} {

		}

		.o-push-sm-#{$i} {

		}

		.o-offset-sm-#{$i} {

		}
	}
}

@media (min-width: 768px) {
	@for $i from 1 through $columns {
		.o-col-md-#{$i} {
			grid-column: span $i;
		}

		.o-pull-md-#{$i} {

		}

		.o-push-md-#{$i} {

		}

		.o-offset-md-#{$i} {

		}
	}
}

@media (min-width: 992px) {
	@for $i from 1 through $columns {
		.o-col-lg-#{$i} {
			grid-column: span $i;
		}

		.o-pull-lg-#{$i} {

		}

		.o-push-lg-#{$i} {

		}

		.o-offset-lg-#{$i} {

		}
	}
}

@media (min-width: 1200px) {
	@for $i from 1 through $columns {
		.o-col-xl-#{$i} {
			grid-column: span $i;
		}

		.o-pull-xl-#{$i} {

		}

		.o-push-xl-#{$i} {

		}

		.o-offset-xl-#{$i} {

		}
	}
}
