@mixin icon {
	font-family: 'Icons';
	font-style: normal;
	line-height: 1;
}

@mixin icon-strak {
	content: '\e001';
}

@mixin icon-up {
	content: '\e100';
}

@mixin icon-down {
	content: '\e101';
}

@mixin icon-left {
	content: '\e102';
}

@mixin icon-right {
	content: '\e103';
}

@mixin icon-search {
	content: '\e104';
}

@mixin icon-exclamation {
	content: '\e200';
}

@mixin facebook {
	content: '\f39e';
}

@mixin instagram {
	content: '\f16d';
}