.u-is-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
.u-inline-list {
	list-style: none;
	padding: 0;
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}
.u-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.u-text--left {
	text-align: left;
}
.u-text--right {
	text-align: right;
}
.u-text--center {
	text-align: center;
}
.u-ratio--4-3 {
}
// Flexbox
.flex, // Backward compatibility
.u-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.u-flex-column {
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.content-top, // Backward compatibility
.u-content--top {
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
.content-middle, // Backward compatibility
.u-content--middle {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.content-bottom, // Backward compatibility
.u-content--bottom {
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
}
// Spacing
$space-list: xs .25rem, s .5rem, m 1rem, l 1.5rem, xl 2.5rem, xxl 5rem, flush 0, auto auto;
@each $space in $space-list {
	.u-margin-top--#{nth($space, 1)} {
		margin-top: nth($space, 2) !important;
	}
	.u-margin-right--#{nth($space, 1)} {
		margin-right: nth($space, 2) !important;
	}
	.u-margin-bottom--#{nth($space, 1)} {
		margin-bottom: nth($space, 2) !important;
	}
	.u-margin-left--#{nth($space, 1)} {
		margin-left: nth($space, 2) !important;
	}
	.u-padding-top--#{nth($space, 1)} {
		padding-top: nth($space, 2) !important;
	}
	.u-padding-right--#{nth($space, 1)} {
		padding-right: nth($space, 2) !important;
	}
	.u-padding-bottom--#{nth($space, 1)} {
		padding-bottom: nth($space, 2) !important;
	}
	.u-padding-left--#{nth($space, 1)} {
		padding-left: nth($space, 2) !important;
	}
	.u-padding-x--#{nth($space, 1)} {
		padding-left: nth($space, 2) !important;
		padding-right: nth($space, 2) !important;
	}
	.u-padding-y--#{nth($space, 1)} {
		padding-top: nth($space, 2) !important;
		padding-bottom: nth($space, 2) !important;
	}
	.u-margin-x--#{nth($space, 1)} {
		margin-left: nth($space, 2) !important;
		margin-right: nth($space, 2) !important;
	}
	.u-margin-y--#{nth($space, 1)} {
		margin-top: nth($space, 2) !important;
		margin-bottom: nth($space, 2) !important;
	}
}
.u-margin--flush {
	margin: 0 !important;
}
.u-padding--flush {
	padding: 0 !important;
}

// Flexbox

.flex, // Backward compatibility
.u-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.content-middle, // Backward compatibility
.u-content-middle {
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


.u-text--blue {
	color: $c-blue;
}

.u-text--white {
	color: $c-white;
}

.u-background--white {
  background-color: $c-white;
}
.u-background--grey {
	background-color: $c-grey;
}

.u-background--orange {
	background-color: $c-orange !important;
}
.u-background--blue {
	background-color: $c-blue--light !important;
}
.u-background--pink {
	background-color: $c-pink !important;
}

.u-m-top--negative {
	margin-top: -106px;
	z-index: 8;

	@media (min-width: $sm) {
		margin-top: -130px;
	}
}

.u-padding--none {
	padding: 0 !important;
}

.u-fullwidth--image {
	width: 100%;
	img {
		width: 100%;
		height: auto;
	}
}

.u-txt-decoration--none {
	text-decoration: none;
}