.btn, // Backward compatibility
.c-btn {
	display: inline-block;
	margin-bottom: 1em;
	padding: 1.5rem 3rem;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	-webkit-appearance: none;
	-moz-appearance: none;

	-webkit-transition: ease-in-out .1s;
	transition: ease-in-out .1s;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		outline: none;
		-webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
		transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
	}

	& + .btn,
	& + .c-btn {
		margin-left: 1em;
	}


}

button {
	// .c-btn;
	// .c-btn--blue; // Choose a color as default button style
}

.btn, // Backward compatibility
.c-btn {
	background-size: 100% 200%;
	background-position: center top;

	-webkit-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;

	&:hover,
	&:focus,
	&:active {
		background-position: center bottom;
	}

	&.btn--black, // Backward compatibility
	&.c-btn--black {
		background-color: $c-black;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, darken($c-black, 6.666%)), color-stop(50%, $c-black));
		background-image: linear-gradient(to top, darken($c-black, 6.666%) 50%, $c-black 50%);
		color: $c-white;

		&:hover,
		&:focus,
		&:active {
			color: $c-white;
		}
	}

	&.btn--blue, // Backward compatibility
	&.c-btn--blue {
		background-color: $c-blue;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, darken($c-blue, 6.666%)), color-stop(50%, $c-blue));
		background-image: linear-gradient(to top, darken($c-blue, 6.666%) 50%, $c-blue 50%);
		color: $c-white;

		&:hover,
		&:focus,
		&:active {
			color: $c-white;
		}
	}
}

.btn--secondary, // Backward compatibility
.c-btn--secondary {
	background: transparent !important;
	background-image: none !important;
	border-radius: 0;
	padding: .5em !important;
	position: relative;
	overflow: hidden;

	-webkit-box-shadow: none;
	box-shadow: none;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom: .1rem solid;
	}

	&:hover,
	&:active,
	&:focus {
		&:after {
			-webkit-animation: swoosh .8s cubic-bezier(.58,.3,.005,1) 0s 1;
			animation: swoosh .8s cubic-bezier(.58,.3,.005,1) 0s 1;
		}
	}

	&.btn--black, // Backward compatibility
	&.c-btn--black {
		color: $c-black;

		&:after {
			border-color: $c-black;
		}

		&:hover,
		&:focus,
		&:active {
			color: $c-black;
		}
	}

	&.btn--blue, // Backward compatibility
	&.c-btn--blue {
		color: $c-blue;

		&:after {
			border-color: $c-blue;
		}

		&:hover,
		&:focus,
		&:active {
			color: $c-blue;

		}
	}
}

.c-btn--gradient, .btn--gradient {
	display: inline-block;
	background-color: $c-blue;
	background-image: linear-gradient(120deg,$c-blue,$c-green--light);
	background-repeat: no-repeat;
	border-radius: 0;
	color: $c-black;
	border: none;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	position: relative;
	z-index: 1;

	-webkit-transition: all 0.4s;
	transition: all 0.4s;

	&:hover {
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		color: $c-black;

		&:before {
			opacity: 1
		}
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(120deg,$c-green--light,$c-blue);
		opacity: 0;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		border-radius: inherit;
	}
}
