.c-card--teaser {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    background-color: rgba($c-black,0.2);
  }
  .c-card__body {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) ;
    color: $c-white;
    padding: 20rem 0;


    a {
      opacity: 0;
      transition: all 0.4s;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;

      color: $c-white;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom:0;
      }

    }
    h3 {
      transform: translateY(30px);
      transition: all 0.4s;
      font-size: 60px;
      line-height: 1;
      margin-left: -2rem;
    }



    @media (max-width: $md) {
      h3 {
        font-size: 40px;
      }
    }
    @media (max-width: $sm) {
      h3 {
        font-size: 30px;
      }
    }
  }
  &:hover {
    a {
      opacity: 1;
      transition: all 0.4s;
      text-decoration: none;
    }
    h3 {
      transform: translateY(0);
      transition: all 0.4s;
    }

    .c-background-image {
      transform: scale(1.05);

    }
  }
}


.c-card--big {

  padding-bottom: 100%;
  @media (min-width: $sm) {
    padding-bottom: 50%;
  }
}

.c-card--home {

  padding-bottom: 2rem;

  .c-card__body {
    z-index: 3;

    text-align: left;
    margin-top: 1rem;

    h1 {
      font-size: 3.5rem;
      line-height: 1.1;
      font-weight: 800;
      @media (max-width: $lg) {
        font-size: 2rem;
      }
    }

    h3 {
      font-weight: 500;
    }

  }
  .c-card__image {
    height: 450px;
  }

  @media (min-width: $sm) {
    padding-bottom: 8rem;
  }
}

.c-card__image {
  height: 300px;
}

.c-card--services {
  padding: 3rem 0;
  position: relative;

  h2 {
    font-size: 2rem;

    @media (min-width: $sm) {
      font-size: 3rem;
    }
  }
  .c-card__image {
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
    box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);

  }
  a {


     &:after {
        content: '';
       position: absolute;
       top:0;left:0;right:0;bottom:0;
       width: 100%;
       height: 100%;
     }
  }
  &:hover {

    a {
     padding-left: 1rem;
    }
  }


  @media (max-width: $md) {
    padding: 0;
  }

}

.c-image--large {
  height: 500px;
}
