.c-cta {
	padding: 5rem 0;
	background-color: $c-white;
	position: relative;
	overflow: hidden;
	h3 {
		font-size: 40px;
		font-weight: 800;
		line-height: 1;
		margin-left: -2rem;
	}

	&:before {
		content: "";
		display: block;
		width: 50vw;
		height: 50vw;
		position: absolute;
		left: 0;
		bottom:0;
		z-index: 0;
		-webkit-transform:  translate(0,80%) rotate(35deg);
		transform: translate(0,80%) rotate(35deg);
		-webkit-box-shadow: inset 0 1px 50px 0 rgba(27, 27, 28, 0.08);
		box-shadow: inset 0 1px 50px 0 rgba(27, 27, 28, 0.08);
		pointer-events: none;
	}
}

.c-cta__text {
	font-size: 28px;
	line-height: 1.2;
	font-weight: 500;

	@media (max-width: $md) {
		display: none;
	}
}

.c-cta--case {
	background-color: $c-white;
	-webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
	box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
	margin-bottom: 4rem;
	margin-top: 2rem;
	position: relative;

	.c-cta__body {
		text-align: center;
		margin: 0 auto;
		padding: 5rem;

		h2 {
			font-weight: 800;
			margin-left: -2rem;
			line-height: 1;
		}

	}


	@media (max-width: $md) {
		margin-top: 1rem;
		margin-bottom: 1rem;

		.c-cta__body {
			padding: 1rem;
		}


	}

	.c-cta__image {
		@media (max-width: $md) {
			height: 300px;
		}
	}

}