.c-site-footer {
	position: relative;
	//width: 100%;
	height: auto;
	background: $c-black;
	transition: border .3s ease,padding .3s ease;

	ul,
	ol {
			list-style: none;
			padding: 0;
		}

		h4 {
			font-weight: 600;
			font-size: 1.125em;
		}

	a {
		color: $c-white;
	}

	@media (min-width: $sm) {
		position: fixed;
		z-index: 1;
		height: 22em;
		left: 0;
		bottom: 0;
		right: 0;

	}
}

.c-footer__content {


	@media (min-width: $sm) {
		//position: fixed;
		position: relative;
		z-index: 1;
		height: 22em;
		left: 0;
		bottom: 0;
		width: 100%;
		background: $c-black;
		//padding: 1em;
		padding-top: 0;
		margin: 0;
	}

}


.footer__spacer {
	position: relative;
	z-index: -1;
	height: 22em;
	pointer-events: none;
	display: none;

	@media (min-width: $sm) {
		display: block;
	}

}

.c-site-footer--primary{
		line-height: 1.6;
		color: $c-white;
	padding-top: 5rem;
	p {
		margin-bottom: 0rem;
		font-size: 18px;
	}
    a {
      text-decoration: none;
		font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }

	.textwidget {

		&:first-child {
			padding-bottom: 2rem;

			@media (min-width: $sm) {
				padding-bottom: 0;
			}
		}
	}

}
.c-site-footer--secondary {
	padding: 2rem 0 2rem 0;
	background-color: darken($c-black,2%);


	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (min-width: $sm) {
		padding: 5rem 0 2rem 0;
		background-color: $c-black;
	}
}

