input,
select,
textarea {
	outline: 0;
	border: 0;
	margin: 0;
	margin-bottom: 2rem;
}

textarea {
	min-height: 10rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	background-color: $c-white;
	width: 100%;
	max-width: 100%;
	padding: 10px 25px;
	-webkit-appearance: none;
	-moz-appearance: none;

	&::placeholder {
		color: $c-grey--light;
	}

}

input[type="submit"] {
	// .c-btn;
	// .c-btn--blue; // Choose default submit button style
}

label {
	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
	}
}

::-webkit-input-placeholder {
	color: $c-black;
}

::-moz-placeholder {
	color: $c-black;
}

:-ms-input-placeholder {
	color: $c-black;
}

:-moz-placeholder {
	color: $c-black;
}

/**
 * Gravity forms
 */

.hidden_label {
	.gfield_label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0 0 0 0);
		border: 0;
	}
}

.validation_error {
	display: none !important; // Hide response output
}

.gform_validation_error {
	.validation_message {
		color: $c-red;

		&:before {
			@include icon;
			@include icon-exclamation;

			margin-right: .5em;
		}
	}
}

.gform_description {
	display: block;
	margin-bottom: 1em;
}

.gform_fields {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gfield {
	margin-bottom: 1rem;

	.gfield_label {
		display: block;
	}

	.gfield_description {
		margin: 10px 0;
	}

	.gfield_required {
		color: $c-red;
		margin-left: .25em;
	}
}

.gfield_error {
	[aria-invalid="true"] {
		background-color: rgba($c-red, .1);
	}
}

.gfield_radio,
.gfield_checkbox {
	list-style: none;
	padding: 0;

	input[type="radio"],
	input[type="checkbox"] {
		margin-right: 10px;
	}
}

.gform_ajax_spinner {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin: 0 1rem;
}

.c-newsletter {
	input[type="text"],
	input[type="email"],
	textarea {
		background-color: $c-white;
	}
}
