.c-site-title {
	height: 2.5rem;
	margin-right: auto;
	z-index: 20;

	-webkit-transition: -webkit-transform .1s ease-in-out;
	transition: transform .1s ease-in-out;

	img,
	svg {
		fill: $c-black;
		height: 100%;
	}

	&:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
