ul {
	list-style: none;
	margin:0;
	padding: 0;
}
.c-list {

	line-height: 1.4;
	li {
		padding-bottom: 1rem;
	}
}

.c-list--asterisk {
	li {
		padding-right: 5px;
		&:before {
			position: absolute;
			left: 0;
			content:'*';
		}
	}
}

.c-list--contact {
	li {
		line-height: 1.6;
		padding-bottom: 0;

		a {
			text-decoration: none;
		}
	}
}

.c-list--footer {
	li {
		line-height: 1.4;
		padding-bottom: 0;

		a {
			text-decoration: none;
		}
	}
}