.c-site-header {
	background: #fff;
	height: 40vh;
	z-index: 5;
	position: relative;
	font-weight: 400;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		left:0;right:0;top:0;bottom:0;
		background: -moz-linear-gradient(top, rgba($c-grey--light,0.1) 0%, rgba($c-grey--light,0) 10%);
		background: -webkit-linear-gradient(top, rgba($c-grey--light,0.1) 0%,rgba($c-grey--light,0) 10%);
		background: linear-gradient(to bottom, rgba($c-grey--light,0.1) 0%,rgba($c-grey--light,0) 10%);
	}


	@media (min-width: $lg) {
		height: 40vh;
	}
	@media (max-width: $sm) {
		height: 30vh;
	}
	@media (max-width: $xs) {
		height: 40vh;
		overflow: visible;
		&:after {
			content: none;
		}
	}

}


.no-scroll {
	.c-site-header {
		z-index: 100;
	}
}

.c-site-header--home {
	height: auto;

	.c-card--home {

		padding-bottom:0;

		@media (min-width: $sm) {
			padding-bottom: 10rem;
		}
	}

	&:after {
		content: "";
		display: block;
		width: 50vw;
		height: 50vw;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		-webkit-transform: translate(-10%, -70%) rotate(35deg);
		transform: translate(-10%, -70%) rotate(35deg);
		-webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
		box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
		pointer-events: none;


		//animation: enterScreen ease;
		//animation-duration: 30s;
		//animation-delay: 0s;
		//animation-iteration-count: infinite;
		@media (max-width: $xs) {
				content: none;

		}
	}
}



/**
 * Navigation
 */

.c-nav {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.c-nav--primary {
	color: $c-black;
	padding-top: 4em;
	padding-bottom: 4rem;

	li {
		a {
			position: relative;
			text-decoration: none;
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 0;
				bottom: 0;
				height: 1px;
				background-color: $c-black;
				transition: width .18s cubic-bezier(.45,.05,.55,.95);
			}
		}

      &.current_page_item, &:hover {
		  a {
			  &:before {
				  width: 100%;
			  }
		  }
	  }
		&:hover {
			.c-navigation__count {
				background-color: darken($c-grey,5%);
				transition: background-color 0.4s;
			}
		}
	}

	@media (max-width: $sm) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}


/**
 * Hamburger
 */

.c-navigation__toggle {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 0;
	cursor: pointer;
	z-index: 100;
	overflow: visible;

	i {
		display: block;
		background-color: $c-black;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: .25rem;
		margin: auto;

		-webkit-transition: width .33s cubic-bezier(.75, -.25, 0, 1.35), transform .1s ease-in-out;
		transition: width .33s cubic-bezier(.75, -.25, 0, 1.35), transform .1s ease-in-out;

		&:nth-of-type(1) {
			width: 60%;
			-webkit-transform: translateY(-.5rem);
			transform: translateY(-.5rem);
		}

		&:nth-of-type(3) {
			width: 80%;
			-webkit-transform: translateY(.5rem);
			transform: translateY(.5rem);
		}
	}

	&:hover {
		i {
			&:nth-of-type(1),
			&:nth-of-type(3) {
				width: 100%;
			}
		}
	}
}

.c-navigation__checkbox {
	&:checked {
		& ~ .c-navigation__toggle {
			i {
				&:nth-child(1) {
					-webkit-transform: rotate(45deg) scaleX(.75);
					transform: rotate(45deg) scaleX(.75);
				}
				&:nth-child(2) {
					-webkit-transform: scale(0, 0);
					transform: scale(0, 0);
				}
				&:nth-child(3) {
					-webkit-transform: rotate(-45deg) scaleX(.75);
					transform: rotate(-45deg) scaleX(.75);
				}
				&:nth-of-type(1),
				&:nth-of-type(3) {
					width: 100%;
				}
			}
		}

		& ~ .c-navigation--mobile {
			background-color: $c-white;
			height: 100vh;
			padding-top: 6.5rem;
			transition: height 0.4s;

			li {
				text-transform: uppercase ;
				padding: 0.5rem 15px;
				a {
					color: $c-grey--light;
					text-align: right;
					font-weight: 500;
					opacity: 1;
					transition: opacity 0.4s;
					transition-delay: 0.1s;
				}
				&:nth-child(2) a {
					transition-delay: 0.2s;
				}
				&:nth-child(3) a {
					transition-delay: 0.3s;
				}
				&:nth-child(4) a {
					transition-delay: 0.4s;
				}
				&:nth-child(5) a {
					transition-delay: 0.5s;
				}
				&:nth-child(6) a {
					transition-delay: 0.6s;
				}

			}
			.current_page_item {
				background-color: $c-grey;
				transition: background-color 0.4s;
				transition-delay: 0.8s;
				a {
					&:before {
						content: none;
					}
				}
			}

			@media (min-width: $sm) {
				padding-top: 10rem;
			}

		}
	}
}

/**
 * Main menu
 */

.c-navigation {
	list-style: none;
	margin: 0;
	padding: 0;

	& > li {
		display: inline-block;
		position: relative;
		line-height: 1;

		&:not(:last-child) {
			margin-right: 2.5em;
		}

		a {
			display: block;
			color: inherit;
			padding: 1rem 0;

			&:hover,
			&:active,
			&:focus {
				color: $c-black;
				text-decoration: none;
			}
		}
	}
}

.c-navigation--legal {
	& > li {
		a {
			color: $c-white;
			padding: 0;

			&:hover,
			&:active,
			&:focus {
				color: $c-white;
				text-decoration: underline;
			}
		}
		@media (max-width: $sm) {
			display: block;
			line-height: 1.4;
		}
	}
}

/**
 * Mobile menu
 */

.c-navigation--mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 0;
	margin: 0;
	padding: 0;
	z-index: 10;
	//overflow-x: hidden;
	//overflow-y: visible !important;
	transition: height 0.4s;

	& > li {
		display: block;
		font-size: 1.5em;

		&:first-child {
			margin-top: 6.5rem;
		}

		a {
			padding: 1.5rem 15px;

		}
	}

	a {
		opacity: 0;

	}



	li {
		&:hover {
			a {
				&:before {
					width: 0;
				}
			}

			&.current_page_item {
				background-color: $c-white;
				transition: background-color;
			}
		}
	}
}

.menu-item-has-children {
	& > a {
		&:after {
			@include icon;
			@include icon-down;

			font-size: .625em;
			margin-left: .625em;
		}
	}

	&:hover {
		.sub-menu {
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
			opacity: 1;
		}
	}
}

/**
 * Submenu
 */

.sub-menu {
	display: block;
	background-color: $c-white;
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 160px;
	padding: 10px 0;
	z-index: 1000;
	opacity: 0;

	-webkit-box-shadow: 0 5px 10px 0 rgba($c-black, .1);
	box-shadow: 0 5px 10px 0 rgba($c-black, .1);

	-webkit-transform-origin: top;
	transform-origin: top;

	-webkit-transform: scale(1,0);
	transform: scale(1,0);

	-webkit-transition: opacity .1s, -webkit-transform 180ms cubic-bezier(.3,0,0,1.3);
	transition: opacity .1s, -webkit-transform 180ms cubic-bezier(.3,0,0,1.3);
	transition: opacity .1s, transform 180ms cubic-bezier(.3,0,0,1.3);
	transition: opacity .1s, transform 180ms cubic-bezier(.3,0,0,1.3), -webkit-transform 180ms cubic-bezier(.3,0,0,1.3);

	& > li {
		a {
			display: block;
			color: $c-black;
			padding: 10px 15px;
			line-height: 1.5;
			white-space: nowrap;

			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;

			&:hover,
			&:active,
			&:focus {
				background-color: rgba($c-black, .03);
				color: $c-blue;
				text-decoration: none;
			}

			&:before {
				content: none;
			}
		}
	}
}

.c-navigation__count {
	position: absolute;
	top: 0;
	right: -20px;
	background-color: $c-grey;
	color: $c-black;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	border-radius: 20px;

	transition: background-color 0.4s;
}