
.c-post--portfolio {

	.c-post__header {
		position: absolute;
		bottom: -10vh;
		background-color: rgba($c-red,0.8);
		color: $c-white;
		padding: 3rem 3rem 0.5rem;
		z-index: 3;
		text-align: center;
		margin-left: 10vw;
		width: 45vw;

		h1 {
			font-weight: 600;
			font-size: 2rem;
		}
		p {
			margin-top: 4rem;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			text-align: center;
		}

		@media (max-width: $sm) {
			padding: 1rem;
			width: calc(100% - 2rem);
			margin: 0 1rem;
			p {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		@media (min-width: $md) {
			padding: 3rem 8rem 0.5rem;
			h1 {
				margin-left: -4rem;
				font-size: 3rem;
			}
		}
		@media (min-width: $lg) {

			h1 {
				font-size: 3rem;
				margin-left: -3rem;
			}
		}
		@media (min-width: $xl) {
			padding: 3rem 10rem 0.5rem;
			h1 {
				font-size: 3.5rem;
			}
		}
	}
	.c-post__body {
		padding: 1rem 0;
	}

	.u-fullwidth--image {

		position: relative;
		overflow: hidden;
		height: 800px;

		@media (max-width: $lg) {
			height: 400px;
		}
		@media (min-width: $lg) {
			height: 500px;
		}
		@media (min-width: $xl) {
			height: 800px;
		}
	}

	.row {
		margin-bottom: 8rem;

		@media (max-width: $md) {
			margin-bottom: 1rem;

		}
	}

  .c-post__image {

	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
	  padding-bottom: 100%;

	  @media (min-width: $sm) {
		  padding-bottom: 50%;

		 &.c-image--small {
			  padding-bottom: 100%;
		  }
	  }


  }

	.c-post__testimonial {
		padding-bottom: 0;
	}
}

.c-post__testimonial {
	font-size: 22px;
	font-weight: 300;
	padding-top: 1rem;
	padding-bottom: 1rem;
	line-height: 1.5;
	p {
		margin-bottom: 1rem;
	}

	.author {
		font-size: 20px;
		color: $c-grey--light;
	}

	@media (min-width: $md) {
		padding-top: 4rem;
		padding-bottom: 4rem;
		font-size: 28px;
	}
}

.c-post__tagline {
    text-align: center;
	h2 {

      font-size: 2rem;
		line-height: 1;
		margin-left: -2rem;


      @media (min-width: $lg) {
        font-size: 3.5rem;
        float:right;
		 margin-left: 0;
      }
	}
}