.c-slider {
	position: relative;
	margin-bottom: 2rem;

	@media (min-width: $sm) {
		margin-bottom: 5rem;
	}
}


.c-slider__control {
	font-size: 1.8rem;
	color: $c-black;
	line-height: 1;
	padding: 1rem;
	position: absolute;
	top: 50%;
	z-index: 2;
	opacity: .7;

	-webkit-transition: ease-in-out .125s ;
	transition: ease-in-out .125s;

	&:active,
	&:hover,
	&:focus {
		color: $c-black;
		text-decoration: none;
		opacity: 1;
	}
	&.c-slider__control--left {
		left: 50px;

		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		@media (min-width: $md) {
			left: 100px;
		}
	}

	&.c-slider__control--right {
		right: 50px;

		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		@media (min-width: $md) {
			right: 100px;
		}
	}
}

.c-slider__indicators {
	margin-top: 1em;

	ul,
	ol {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}

.c-slider__indicator {
	font-size: 2rem;
	color: $c-white;
	line-height: 1;
	opacity: .25;

	-webkit-transition: ease-in-out .125s ;
	transition: ease-in-out .125s;

	&:hover,
	&:active,
	&:focus {
		color: $c-white;
		text-decoration: none;
		opacity: 1;
	}

	&.active {
		opacity: 1;
	}
}

.slick-slide {
	height: 40vh;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
	box-shadow: 0 1px 50px 0 rgba(27, 27, 28, 0.1);
	margin: 0;

	@media (min-width: $sm) {
		height: 50vh;
		margin: 0 2rem;
		width: 90%;
	}
	@media (min-width: $lg) {
		height: 80vh;
		width: 80%;
		margin: 0 4rem;
	}
}

.c-slide {

}

.c-slide--portfolio {
	@media(min-width: $sm) {
		&:before,
		&:after {
			content: '';
			width: 25%;
			z-index: 10;
			position: absolute;
			top: 0;
			bottom: 0;
		}

		&:before {
			content: '';
			background-image: -webkit-linear-gradient(left, rgba($c-black, .2) 0, transparent 100%);
			background-image: -o-linear-gradient(left, rgba($c-black, .2) 0, transparent 100%);
			background-image: -webkit-gradient(linear, left top, right top, from(rgba($c-black, .2)), to(transparent));
			background-image: linear-gradient(to right, rgba($c-black, .2) 0, transparent 100%);
			background-repeat: repeat-x;
			left: 0;
		}

		&:after {
			content: '';
			background-image: -webkit-linear-gradient(right, rgba($c-black, .2) 0, transparent 100%);
			background-image: -o-linear-gradient(right, rgba($c-black, .2) 0, transparent 100%);
			background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba($c-black, .2)));
			background-image: linear-gradient(to right, transparent 0, rgba($c-black, .2) 100%);
			background-repeat: repeat-x;
			right: 0;
		}
	}

	figure {
		height: 0;
		margin-bottom: 0;
		padding-top: 62.5%; /* 8:5 Aspect Ratio */
		position: relative;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;

			-ms-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
		}
	}
}

.slick-dots {
	position: absolute;
	text-align: center;
	bottom: -51px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	li {
		display: inline-block;

		button {
			border: none;
			color: lighten($c-grey--light,15%);
			background-color: transparent;
			position: relative;
			padding: 2px 3px;
			padding-top: 0.8rem;
			&:hover, &:active, &:focus {
				outline: 0;
				box-shadow: none;
				border: none;
			}

			&:after {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				height: 1px;
				width: 0;
				background-color: $c-black;
				transition: all 0.4s;

			}

			@media (min-width: $sm) {

				padding: 2px 0.4rem;
				padding-top: 0.8rem;
				&:hover {
					color: $c-black;

					&:after {
						width: 100%;

					}
				}
			}
		}

		&.slick-active {
			button {
				color: $c-black;

				&:after {
					width: 100%;
					left: 0;
					right: auto;
					transition: width 0.4s;
				}
			}
		}
	}

	@media (max-width: $sm) {
		position: relative;
		bottom:0;
	}
}

.slick-disabled {
	opacity: 0;
	pointer-events:none;
}