.c-social {
	text-align: left;
	margin-top: 1rem;

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1em;
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus,
		&:visited {
			color: inherit;
			text-decoration: none;
			opacity: .75;
		}
	}

	svg {
		fill: $c-white;

		&:hover {
			fill: $c-blue;
		}
	}

	@media (min-width: $sm) {
		text-align: right;
		margin-top: 0;
	}
}
